@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode configs */
:root {
  --background: #1a2951;
  --foreground: black;
  --darkBlue: #1a2951;
  --lightBlue: #313d5e;
  --white: #ffffff;
  --offWhite: #dedede;
  --lightBlueHover: #3f4b6d;
  --darkerBlue: #1b2644;
  --darkestBlue: #151f3c;
  --neonBlue: #2acaff;
  --contactLightGray: #b8b8b8;
  --contactDarkGray: #929292;
}

/* Wraps the "root" level body component in layout.tsx*/
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Creating a CSS arrow */
.arrow {
  border: solid white;
  height: 20px;
  width: 20px;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.right {
  transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
}

.fixed {
  position: fixed;
  top: 24px;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
}

/* Debugging thing */
.debug {
  border: 1px solid red;
}
