@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode configs */
:root {
  --background: white;
  --foreground: black;
}

/* Dark mode configs */
@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: black;
  }
}

/* Wraps the "root" level body component in layout.tsx*/
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
